<div class='fav__template'>
  <ul class='fav__list'>
    {{#each items}}
      <li class='fav__item'>
        <div class='fav__img-wrap'>
          <picture class='fav__img'>
            <source srcset="{{image.url}} 1x, {{image.url}} 2x" type="image/jpeg" />
                <img src="{{image.url}}" alt="{{name}}" />
          </picture>
        </div>
        <h2 class='fav__name'>{{name}}</h2>
        <p class='fav__date'>{{date}}</p>
        <span class='fav__place'>
          <svg class='fav__place-icon' width='7' height='10'>
            <use href='#'></use>
          </svg>
          {{place}}
        </span>
      </li>
    {{/each}}
  </ul>
</div>