<div class='hero__template'>
  <ul class='hero__list'>
    {{#each items}}
      <li class='hero__item'>
        <div class='hero__img-wrap'>
          <picture class='hero__img'>
            <source srcset="{{image.url}} 1x, {{image.url}} 2x" type="image/jpeg" />
                <img src="{{image.url}}" alt="{{name}}" />
          </picture>
        </div>
        <h2 class='hero__name'>{{name}}</h2>
        <p class='hero__date'>{{date}}</p>
        <span class='hero__place'>
          <svg class='hero__place-icon' width='7' height='10'>
            <use href='#'></use>
          </svg>
          {{place}}
        </span>
      </li>
    {{/each}}
  </ul>
</div>