<div class='backdrop is-hidden'>
  <div class='modal'>
    <div class='modal__poster'>
      <img src='{{posterImage}}' alt='Poster Image' class='poster' />
    </div>
    <div class='modal__wrap'>
      <div class='modal__block'>
        <h2 class='modal__title'>INFO</h2>
        <p class='modal__text'>{{eventInfo}}</p>
      </div>
      <div class='modal__block'>
        <h2 class='modal__title'>WHEN</h2>
        <p class='modal__text'>{{eventDate}}<br />{{eventTime}}
          {{eventLocation}}</p>
      </div>
      <div class='modal__block'>
        <h2 class='modal__title'>WHERE</h2>
        <p class='modal__text'>{{eventCity}},
          {{eventCountry}}<br />{{eventVenue}}</p>
      </div>
      <div class='modal__block'>
        <h2 class='modal__title'>WHO</h2>
        <p class='modal__text'>{{eventArtists}}</p>
      </div>
      <div class='modal__block'>
        <h2 class='modal__title'>PRICES</h2>
        <p class='modal__text'>{{priceStandard}}</p>
        <button>BUY TICKETS</button>
        <p class='modal__text'>{{priceVIP}}</p>
        <button>BUY TICKETS</button>
      </div>
      <div class='modal__btn-wrap'>
        <button class='modal__button'>MORE FROM THIS AUTHOR</button>
        <button class='modal__button'>ADD TO FAVOURITE</button>
      </div>
    </div>
  </div>
</div>